@model ConvertTimeByZoneModel
@{
    ViewData["Title"] = "Convert time by zone";
}

<div class="text-center">
    <h1 class="display-4">Convert time by zone</h1>
    <select asp-items="Model.ZoneNames"></select>
</div>
